<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983265412094-lnm5usrq3udj34f02sq6s24390p5fosm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983265412094-lnm5usrq3udj34f02sq6s24390p5fosm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>983265412094-kfuq0kokjibrktnlub51bpkm12klm0k5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyABabhql_JtudZZV0cbsEJqbujryrsoAvc</string>
	<key>GCM_SENDER_ID</key>
	<string>983265412094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>health.mymeds.app.mymedsApp</string>
	<key>PROJECT_ID</key>
	<string>medisync-80e70</string>
	<key>STORAGE_BUCKET</key>
	<string>medisync-80e70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983265412094:ios:a7e7106aad98c60c08f6af</string>
</dict>
</plist>