<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481214437178-inm7fmbvk8lluq8l3m2me2dcqb6o0fkb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481214437178-inm7fmbvk8lluq8l3m2me2dcqb6o0fkb</string>
	<key>API_KEY</key>
	<string>AIzaSyDET3kC7HQioMga3nHev52GC5g-i0ckUg4</string>
	<key>GCM_SENDER_ID</key>
	<string>481214437178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>zoom-3c767</string>
	<key>STORAGE_BUCKET</key>
	<string>zoom-3c767.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481214437178:ios:579c40ede36882d6412203</string>
	<key>DATABASE_URL</key>
	<string>https://zoom-3c767-default-rtdb.firebaseio.com</string>
</dict>
</plist>